/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root {
    --color-white: white;
    --color-black: black;
    --color-green: #8aff80;
    --color-purple: #9580ff;
    --color-pink: #ff80bf;
    --color-yellow: #ffff80;
    --border-radius: 10px;
    --box-shadow: 5px 5px;
    --box-shadow-hover: 7px 7px;
    --margin-line: 2px solid black;
}

/**
* General style
*/
* {
    /* border: 1px solid red; */
    padding: 0; /* full height */
    margin: 0; /* full height */
    outline: none;
    box-sizing: border-box; /* full height */
}
html,
body {
    height: 100%; /* full height */
}
.main,
.select-oponent,
#my-modal {
    font-family: 'Cabin', sans-serif;
}

/**
* MAIN SECTION STYLE
*/
/* Header Section Style */
.main {
    height: 100%; /* full height */
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-section {
    width: 100%;
    margin-bottom: 25px;
}
.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    padding-top: 20px;
}
.players {
    height: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.player {
    height: 100%;
    border: 2px solid black;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    /* grid container */
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.p1 {
    grid-column: 2 / 3;
}
.p2 {
    grid-column: 4 / 5;
}
.icon-player {
    padding: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    /* flex container */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon {
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: var(--border-radius);
    border: var(--margin-line);
    /* flex container */
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon1 {
    background-color: pink;
}
.icon2 {
    background-color: cyan;
}
.mark {
    border-left: var(--margin-line);
    /* flex container */
    display: flex;
    justify-content: center;
    align-items: center;
}
.mark p {
    font-size: 3rem;
}

/* Board Section Style */
.board-section {
    padding: 10px;
    margin-top: 30px;
    /* grid container */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.board {
    background-color: black;
    height: 450px;
    width: 450px;
    /* grid item */
    place-self: center;
    /* grid container */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}
.cell {
    background-color: white;
    cursor: pointer;
    /* flex container */
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell span.symbol {
    font-size: 7rem;
    font-weight: 200;
}
#cell1 {
    /* grid item */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#cell2 {
    /* grid item */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

/* Footer style */
footer {
    text-align: center;
    margin-top: auto;
    padding-bottom: 20px;
}

/**
* SELECT OPONENT SECTION
*/
.select-oponent {
    padding: 50px;
}
.vs-options {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr;
    gap: 20px;
    justify-content: center;
}
.vs-element {
    width: 200px;
    text-align: center;
}
.vs-element button {
    width: 100%;
    padding: 20px 30px;
    border: var(--margin-line);
    border-radius: var(--border-radius);
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    /* Flex container */
    display: flex;
    align-items: center;
    justify-content: center;
}
.vs-element button:hover {
    box-shadow: var(--box-shadow);
}
.vs-human {
    /* grid item */
    grid-row: 2;
}
.vs-human button {
    background-color: var(--color-green);
}
.vs-ai {
    grid-row: 4;
}
.vs-ai button {
    background-color: var(--color-yellow);
}
span.size-48 {
    font-size: 48px;
    margin-right: 10px;
}

/**
* MODAL STYLE
*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: var(--color-green);
    margin: auto;
    padding: 20px;
    border: var(--margin-line);
    border-radius: 10px;
    width: 40%;
    height: 40%;
}
.modal-content .modal-main {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-main .modal-header {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}
/* .modal-main .modal-header span {
    margin-right: 10px;
} */
.modal-main .modal-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.modal-content button {
    background-color: var(--color-white);
    color: var(--color-black);
    height: 80px;
    width: 120px;
    margin-top: 50px;
    font-weight: 900;
    font-size: larger;
    border-radius: 10px;
    border: var(--margin-line);
}
.modal-content button:hover {
    box-shadow: var(--box-shadow);
}

/* The Close Button */
.close {
    color: var(--color-black);
    float: right;
    font-size: 28px;
    font-weight: 350;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Hide the content */
.current-turn {
    background-color: var(--color-purple);
}
.no-display {
    display: none;
}