/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root {
    --color-green: #8aff80;
    --color-purple: #9580ff;
    --color-pink: #ff80bf;
    --color-yellow: #ffff80;
    --border-radius: 10px;
    --box-shadow: 5px 5px;
    --box-shadow-hover: 7px 7px;
    --margin-line: 2px solid black;
}

/**
* General style
*/
* {
    /* border: 1px solid red; */
    padding: 0; /* full height */
    margin: 0; /* full height */
    outline: none;
    box-sizing: border-box; /* full height */
}
html,
body {
    height: 100%; /* full height */
}
.main,
.select-oponent {
    font-family: 'Cabin', sans-serif;
}

/**
* MAIN SECTION STYLE
*/
/* Header Section Style */
.main {
    height: 100%; /* full height */
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-section {
    width: 100%;
    margin-bottom: 25px;
}
.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    padding-top: 20px;
}
.players {
    height: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.player {
    height: 100%;
    border: 2px solid black;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    /* grid container */
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.p1 {
    grid-column: 2 / 3;
}
.p2 {
    grid-column: 4 / 5;
}
.icon-player {
    padding: 5px;
    /* flex container */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon {
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
}
.icon1 {
    background-color: pink;
}
.icon2 {
    background-color: cyan;
}
.mark {
    border-left: var(--margin-line);
    /* flex container */
    display: flex;
    justify-content: center;
    align-items: center;
}
.mark p {
    font-size: 3rem;
}

/* Board Section Style */
.board-section {
    padding: 10px;
    /* grid container */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.board {
    background-color: black;
    height: 500px;
    width: 500px;
    /* grid item */
    place-self: center;
    /* grid container */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.cell {
    background-color: white;
}
#cell1 {
    /* grid item */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

/* Footer style */
footer {
    text-align: center;
    margin-top: auto;
    padding-bottom: 20px;
}

/**
* SELECT OPONENT SECTION
*/
.select-oponent {
    padding: 50px;
}
.vs-options {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr;
    gap: 20px;
    justify-content: center;
}
.vs-element {
    width: 200px;
    text-align: center;
}
.vs-element button {
    width: 100%;
    padding: 20px 30px;
    border: var(--margin-line);
    border-radius: var(--border-radius);
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    /* Flex container */
    display: flex;
    align-items: center;
    justify-content: center;
}
.vs-element button span {
    margin-right: 10px;
}
.vs-element button:hover {
    box-shadow: var(--box-shadow);
}
.vs-human {
    /* grid item */
    grid-row: 2;
}
.vs-human button {
    background-color: var(--color-green);
}
.vs-ai {
    grid-row: 4;
}
.vs-ai button {
    background-color: var(--color-yellow);
}
span.size-48 {
    font-size: 48px;
    font-variation-settings: 'OPSZ' 48;
}


/* Hide the content */
.no-display {
    display: none;
}